<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LawLanguageMotion - Projemiz</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <div class="sidebar">
        <img src="/static/logo.png" alt="LLM Logo" class="logo">
        <a href="/">Anasayfa</a>
        <a href="/about">Hakkımızda</a>
        <a href="/project">Projemiz</a>
    </div>

    <di<div class="main">
        <h1>Projemiz</h1>
        <p>
            Law Language Motion - Hukuk Öğrencileri İçin Devrim Niteliğinde Öğretici Chatbot

Hukuk öğrencilerinin eğitim süreçlerini daha erişilebilir, etkili ve kişiselleştirilmiş hale getirmek için geliştirilmiş olan Law Language Motion, yapay zeka destekli bir öğretici chatbot’tur. Mevcut dijital çözümlerin yetersiz kaldığı statik ve yüzeysel bilgilerin ötesine geçerek, öğrencilere karmaşık hukuki konular hakkında bağlamsal ve doğru yanıtlar sunar.

Chatbot, Faiss veritabanı, Langchain framework ve T3AI BDM API gibi gelişmiş teknolojileri kullanarak geniş hukuki veri setlerini hızlı ve verimli bir şekilde tarar. Retrieval-Augmented Generation (RAG) Modeli ile desteklenen sistem, öğrencilerin sorduğu sorulara kişiselleştirilmiş yanıtlar üretir ve öğrenme sürecini sürekli geliştirir.

Law Language Motion, hukuk eğitimine getirdiği dinamik çözüm ile yalnızca bilgi sağlamakla kalmaz, aynı zamanda hukuk öğrencilerinin kavrayışını derinleştirir, onları daha donanımlı ve yetkin hale getirir. Hukuk dünyasında devrimsel bir değişimin öncüsü olan bu proje, geleceğin hukukçularına rehberlik eder ve adalet sisteminin güçlenmesine katkıda bulunur.
        </p>
        <a href="https://github.com/CengizhanBayram/TeknofestHackathonLawLanguageMotion" target="_blank">Cengizhan Bayram - LawLanguage BOT</a>
    </div>
    
</div>

</body>
</html>